* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
  }


button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	width: 20rem;
	margin: 0.5rem 1rem;
	padding: 0 1rem;
	background-color: #fff;
	border-radius: 0.25rem;
	border: .1rem solid #0070d2;
	color: #0070d2;
	font-size: .8rem;
	line-height: 2rem;
	font-weight: 400;
	text-align: center;
	:hover {
		background-color: #f4f6f9; 
	} 
}

#audioStartBtn:disabled,
#videoStartBtn:disabled,
#audioStopBtn:disabled,
#videoStopBtn:disabled,
.toggleMediaSectionBtn:disabled {
    cursor: not-allowed;
    background-color: #e0e0e0;
    color: #a0a0a0;
    border: 1px solid #c0c0c0;
}


#audioStopBtn,
#videoStopBtn{
 border: 1px solid #dddbda;
}

.volumeSlider {
	margin: 0.5rem 1rem;
}

.hidden {
	display: none;
  }


#canvas {
	float: left;
	border: .1rem solid #444444;
	padding: .5rem;
	margin: .5rem;
	background: #3b3b3b;
}
